.dashboard-page {
  display: flex;
  flex-direction: column;   /* stack children vertically */
  font-family: Arial, sans-serif;
  background-color: blue/*#f9fafb*/;
  height: 100vh;
  width: 100vw;
}

/* ===== TOP BAR ===== */
.dashboard-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #3B82F6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  font-size: 11px;
}

.dashboard-body {
  display: flex;
  margin-top: 50px; /* push below fixed top bar */
  flex: 1;
}

/* ===== BELOW TOP BAR CONTAINER ===== */
.dashboard-navbar {
  width: 250px;
  background-color: #1e1c2a;;
  display: flex;
  flex-direction: column;
  padding: 0px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  align-items: center;
}

.nav-button {
  margin: 0px;
  padding: 18px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: left;

.nav-button:hover {
  background-color: #4e73a0;
}

.profile-button{
    margin: 0px;
  padding: 18px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: left;
}
.profile-button:hover {
  background-color: #4e73a0;
}

/* ===== CONTENT AREA ===== */
.dashboard-content {
  padding: 25px;
  flex: 1;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

.main-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 96%;
  height: 90%
}