/* ===== PAGE LAYOUT ===== */
.dashboard-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

/* ===== SIDEBAR ===== */
.dashboard-navbar {
    width: 240px;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== HEADER ===== */
.navbarheader {
    display: flex;
    background-color: #171e29;
    height: 10vh;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

/* ===== NAV SECTIONS ===== */
.subsections {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ===== NAV BUTTONS ===== */
.nav-button {
    margin: 0px;
    padding: 20px 10px;
    border: none;
    background: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.nav-button:hover {
    background-color: #4e73a0;
}

/* ===== PROFILE SECTION (BOTTOM) ===== */
.profile-container {
    width: 100%;
    margin-top: auto;   /* pushes it to bottom */
}

/* ===== PROFILE BUTTON ===== */
.profile-button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 10vh;
    width: 100%;
    padding: 8px 10px;
    background-color: #171e29;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
}

.profile-button:hover {
    background-color: #4e73a0;
}

/* ===== PROFILE AVATAR ===== */
.profile-avatar {
    width: 32px;
    height: 32px;
    background-color: #9ca3af;
    border-radius: 50%;
}

/* ===== MAIN CONTENT ===== */
.dashboard-content {
    flex: 1;
    background-color: #bcbcbc;
    padding: 30px;
    overflow-y: auto;
}

#form-div{
    display: flex;
    flex-direction: column;
}

#profile-modal-input{
    width: auto;
    margin-top: 0px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-bottom: 10px 0px;
}

#profile-modal-button-container{
    display: flex;
    justify-content: center;
}

#profile-modal-button{
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #4e73a0;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
}